header {
    justify-content: space-between;
    background-color:aliceblue;
    padding: 0.5rem;
}

header h1 {
    margin-inline-start: 4rem;
}

nav {
    margin-inline-end: 4rem;
    align-self: flex-end;
}

nav a {
    padding-inline: 1rem;
    color: black;
    font-size: 1.1rem;
}