.app-header {
    justify-content: space-between;
    border-radius: 3px;
    .nav-container {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        margin-inline-end: 3rem;
    }
    .main-nav {
        align-self: center;
    }
    .main-nav a {
        margin-inline-start: 1rem;
        padding-inline: 0.2rem;
        align-self: flex-end;
        font-size: 1.2rem;
    }
    .router-link-exact-active {
        transition: all 200ms;
        border-radius: 2px;
        box-shadow: 0 3px 0 $clr1;
        border-radius: 50%;
    }

    .logo {
        font-size: 2rem ;
        font-family: Mr Dafoe;
        text-transform: lowercase;
        align-items: center;
    }

    .logo svg {
        height: 50px;
        width: 50px;
        filter: invert(35%) sepia(73%) saturate(1393%) hue-rotate(346deg) brightness(92%) contrast(82%);
    }
}

