.app-header {
    justify-content: space-between;
    border-radius: 3px;
    // .main-nav {
    //     margin-inline-end: 5rem;
    // }
    .main-nav a {
        margin-inline-start: 1rem;
        padding-inline: 0.2rem;
        align-self: flex-end;
        font-size: 1.2rem;
    }
    .router-link-exact-active {
        transition: all 200ms;
        // background-color: rgba($clr1, 0.25);
        border-radius: 2px;
        border-bottom: 1px solid $clr1;
    }

    .logo {
        font-size: 2rem ;
        font-family: Mr Dafoe;
        text-transform: lowercase;
    }

    .logo svg {
        height: 50px;
        width: 50px;
        filter: invert(35%) sepia(73%) saturate(1393%) hue-rotate(346deg) brightness(92%) contrast(82%);
    }
}

