.app-header {
    justify-content: space-between;
    border-radius: 3px;
    .main-nav {
        margin-inline-end: 5rem;
    }
    .main-nav a {
        margin-inline-start: 1rem;
        padding-block-start: 1.8rem;
        padding-inline: 0.2rem;
        align-self: flex-end;
        font-size: 1.2rem;
    }
    .router-link-exact-active {
        transition: all 200ms;
        background-color: rgba($clr1, 0.4);
        border-radius: 2px;
        box-shadow: inset 0 -5px rgba($clr2, 0.2);
    }

    .logo {
        margin-inline-start: 5rem;
        font-size: 2rem ;
        font-family: Mr Dafoe;
        text-transform: lowercase;
    }

    .logo svg {
        min-height: 50px;
        filter: invert(35%) sepia(73%) saturate(1393%) hue-rotate(346deg) brightness(92%) contrast(82%);
    }
}

