.filter-container {
    padding-block: 1rem;
    padding: 0.5rem;
    flex-direction: row;
    > * {
        flex-basis: 50%;
    }
    .search::before {
        content: 'FILTER TOYS';
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity .5s;
    }

    .sort::before {
        content: 'SORT TOYS';
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity .5s;
    }
    .sort:hover::before, .search:hover::before  {
        opacity: 1;
    }

    .sort {
        display: flex;
        flex-direction: column;

    }
    .sort-direction::after, .stock-filter::after {
        transition: all 1s;
        z-index: -1;
        min-width: 200px;
        opacity: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 7px;
        left: 0;

    }
    .sort-direction::after {
        content: 'Ascending/Descending order'
    }

    .stock-filter::after {
        content: 'Filter in/out of stock';
    }
    .stock-filter:hover::after, .sort-direction:hover::after {
        background-color: lighten($clr1, 10%);
        border-radius: 5px;
        color: whitesmoke;
        opacity: 0.7;
        transform: translateX(40%);

    }
}