.list-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1rem;
    h3 {
        font-weight: 700;
    }
    justify-content: center;

}